{% extends "layout.html"%}
{% block content %}
<div>
    <ul class="heart-list">
        <h1 class="page-title">HEART REPORT PREDICTION <i class="fas fa-heartbeat heart-icon"></i></h1>
        <a href="{{url_for('predict')}}" class="btn">Begin Prediction <i class="fas fa-arrow-right"></i></a>
        <br>
        <h3 class="section-title">Information About Heart Problem Features</h3>
        <a href="{{url_for('information')}}" class="btn">Learn More <i class="fas fa-info-circle"></i></a>
    </ul>
</div>
{% endblock %}